@import "tailwindcss";

/* Fonts */

/* @font-face {
  font-family: "AvenirNext";
  src: url("/fonts/avenir-next-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/Avenir Next LT Pro Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/avenir-next-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
} */

/* Global font */

body {
  font-family: var(--font-avenir), sans-serif;
}

/* Custom styles for slick arrows */

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}

.swiper-pagination {
  margin-top: 30px;
  position: relative !important;
}

.swiper-pagination-bullet {
  background-color: #aca188 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #aca188 !important;
  opacity: 1;
}


/* .hd {
  font-family: "AvenirNext", sans-serif !important;
}

.heading {
  font-family: "AvenirNext", sans-serif !important;
  font-size: 30px;
  font-weight: 600;
  color: #2e2c2d;
  letter-spacing: 3px;
  text-transform: uppercase;
} */

/* Heading */


/* Date picker icon */

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
